* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;

  /* colors */
  --red-1: #b03c2d;
  --red-2: #822c41;
  --red-3: #4a1333;

  /* background */
  --bg-main: #262626;
  --bg-2: #0f1e2e;
  --bg-3: #14283e;
  --bg-4: #19324d;
  --bg-5: #1e3c5c;
  --bg-main-a: #262626;
  --bg-2-a: #0f1e2e;
  --bg-3-a: #14283e;
  --bg-4-a: #19324d;
  --bg-5-a: #1e3c5c62;

  /* text */
  --txt-main: #e6eef7;
  --txt-2: #ccddef;
  --txt-3: #b3cce6;
  --txt-4: #9abbde;
  --txt-5: #80aad6;

  /* heading */
  --h1: #ccddef;
  --h2: #b3cce6;
  --h3: #9abbde;

  /* gradients */
  --bg-gr-main: linear-gradient(180deg, var(--bg-main), var(--bg-2));
  --bg-gr-header: linear-gradient(135deg, var(--bg-main), var(--bg-3));
  --bd-gr-sidebar: linear-gradient(180deg, var(--bg-5), var(--bg-2));

  /* shadow */
  --s-sm: 0 0 1px 1px rgba(5, 10, 15, 0.75);
  --s-sm-bottom: 0 1px 1px 0px rgba(5, 10, 15, 0.75);
  --s-sm-right: 1px 0 1px 0px rgba(5, 10, 15, 0.75);
  --s-md: 0 0 3px 1px rgba(5, 10, 15, 0.75);
  --s-l: 0 0 6px 2px rgb(5, 10, 15);

  /* border */
  --bd-main-1px: 1px solid #0a141f;
  --bd-main-2px: 2px solid #0a141f;
  --bd-2-1px: 1px solid #0f1e2e;
  --bd-2-2px: 2px solid #0f1e2e;
  --bd-3-1px: 1px solid #14283e;
  --bd-3-2px: 2px solid #14283e;
  --bd-4-1px: 1px solid #19324d;
  --bd-4-2px: 2px solid #19324d;
  --bd-5-1px: 1px solid #1e3c5c;
  --bd-5-2px: 2px solid #1e3c5c;
  --bd-6-1px: 1px solid var(--red-1);

  /* button */
  --btn-bg-1: var(--red-1);
}

/* 
* Global styles start
*/

body {
  color: var(--txt-main);
  font-size: 1rem;
  font-family: 'Calibre', Verdana, Geneva, Tahoma, -apple-system, system-ui,
    sans-serif;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  background-image: var(--bg-gr-main);
}

a {
  text-decoration: none;
  color: var(--red-1);
}

ul {
  list-style: none;
}

img {
  display: block;
}

.btn {
  padding: 0.25em 1.25em;
  /* border-radius: 0.2em; */
  box-shadow: var(--s-md);
}

/* ! Work on hover effect */
/* https://freefrontend.com/css-button-hover-effects/ */
.btn:hover {
  box-shadow: var(--s-l);
}

/*
* Global styles end 
*/

/* Main navigation start */

.main-navigation ul {
  height: 2em;
  margin: 1em;

  display: flex;
  justify-content: right;
  align-items: center;
}

.btn-resume {
  color: var(--txt-main);
  background: var(--btn-bg-1);
}

/* Main navigation end */

/* Header start */

.welcome-header {
  margin-top: 30px;

  & .header-about {
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid var(--red-2);
    margin-bottom: 1rem;
  }
}

.header-skills {
  & .skills {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  & .main-skill {
    margin: 0.5em 0;
    padding-bottom: 0.25em;

    &::before {
      content: '\f5fc';
      font-weight: 900;
      font-family: 'Font Awesome 5 Free';
      font-size: 0.9em;
      color: var(--red-1);
    }
  }

  & .sub-skill {
    font-size: 0.9em;
    margin-left: 1.7em;
  }
}

@media (max-width: 630px) {
  .welcome-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .welcome-header > div {
    width: 100%;
    padding: 0em 2em;
  }

  .header-about {
    margin-bottom: 1.5em;
  }

  .header-skills {
    margin-top: 2em;
  }

  .header-skills .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .header-skills .main-skill {
    width: 50%;
  }
}

/* Header end */

/*
* Main section start
*/

main {
  text-align: center;

  & h2 {
    text-align: center;
    margin: 1rem 0;
    padding: 0.5em 0;
    border-top: 1px solid var(--red-2);
    border-bottom: 1px solid var(--red-2);
  }

  

  & .project {
    margin: 1em 0;
    padding: 1em 0;
    border-bottom: 1px solid var(--red-2);

    & h3 {
      color: var(--red-1);
      margin-bottom: 0.5rem;
    }

    & .techstack {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0.5em 0;

      & span {
        color: var(--txt-3);
        margin: 0.5em 1em;
        padding: 0.25em 0.5em;
        border: 1px solid var(--red-3);
        border-radius: 0.4em;
      }
    
    }
  }
}

/*
* Main section end
*/

/* Footer start */

footer {
  text-align: center;
  margin-top: 2em;
  padding: 1em 0;
  border-top: 1px solid var(--red-2);
}

footer a:hover {
  text-decoration: underline;
}

/* Footer end */
